* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  line-height: 2rem;
}

html {
  background: rgba(238, 224, 224, 0.603);
  font-family: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-section li::before {
  content: "- ";
}

body {

  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 2px solid rgb(131, 96, 96);
  background: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 1200px;

}

.header {
  margin: 0 auto;
  width: 100%;
}

.nav {
  font-size: 12px;
  display: flex;
  justify-content: end;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.header-nav {
  padding-bottom: 1rem;
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-nav:last-child {
  padding-right: 1rem;
}

.greeting {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid rgb(131, 96, 96);
  padding-bottom: 1rem;
  margin: 0 1rem;
}

.main-name {
  font-family: 'Indie Flower', cursive;
  font-size: 4rem;
}

.post {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
}

.main {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  flex: 1 1 auto;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.description {
  max-width: 80%;
}

pre {
  margin: 0;
  max-width: 80%;
  overflow-x: auto;
}

code {
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.education {
  line-height: 2rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(131, 96, 96);
  min-height: 4rem;
}

.rss-logo {
  width: 121px;
  height: 45px;
  background-image: url(./assets/icon/rs_school_js.svg);
  background-size: contain;
  background-repeat: no-repeat;
}